.login {
  width: 350px;
  height: 350px;
  border: 0.5px solid #AA4A44;
  border-radius: 1%;
  margin: auto;
  margin-top: 100px;
  padding: 2%;
  background-color: white;
  box-shadow: 0 0 3px #AA4A44;
}

.login p {
  padding-bottom: 5%;
}

.credentials {
  display: flex;
  flex-direction: column;
}

.login button {
  margin-top: 8%;
  padding: 3.5%;
  border-style: none;
  border-radius: 15px;
  background-color: #AA4A44;
  cursor: pointer;
}

.login button:hover {
  transform: scale(1.01);
  background-color: #8d3935;
}

.join {
  padding-top: 50px;
  text-align: center;
  & a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    &:hover {
      background-color: #AA4A44;
      border-radius: 5px;
      color: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .login {
    width: 60%;
    border: none;
    box-shadow: none;
  }
}
