header {    
    display: flex;
    align-items: center;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #AA4A44;
    height: 60px;
}

.tag {
    font-family: system-ui;
    margin-left: auto;
}

nav {
    margin-left: auto;
}

nav a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
    background-color: #AA4A44;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .tag {
      display: none;
    }
}
