header {    
  display: flex;
  align-items: center;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: #AA4A44;
  box-shadow: 0 0 3px #AA4A44;
  height: 60px;
}

.tag {    
  margin-left: auto;
}

nav {
  margin-left: auto;
}

li {
  padding: 0 10px 0px 10px;
  list-style-type: none;
}

nav a {
  padding-bottom: 3px;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(#AA4A44 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;  
}

nav .menu {
  display: none;
}

nav a:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.mobile-nav-toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  .tag {
    display: none;
  }

  .primary-navigation {
    margin: auto;
    position: fixed;
    align-items: center;
    inset: 0 0 0 45%;
    padding-top: 10%;
    flex-direction: column;
    background: hsl(4 43% 47% / 0.5);
    backdrop-filter: blur(0.1rem);
    transform: translateX(100%);    
  }

  .mobile-nav {
    transition: 1s;
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: flex;
    position: absolute;
    z-index: 9999;
    border: 0;
    background: transparent;
    right: 5%;
  }

  nav .menu {
    display: block;
    padding-right: 10px;
  }
}
