footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: serif;
  font-size: 12px;
  border-top-width: 0.5px;
  border-top-style: solid;
  border-top-color: #AA4A44;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}

img {
  height: 25px;
  width: 25px;
  opacity: 75%;
}

img:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  span {
    display: none;
  }
}
